# travis CI config
language: python
python:
  - 2.7.9
  - 3.3
  - 3.4.4
  - 3.5
  - 3.6
  - pypy
  - pypy3

# Use fast travis build infrastructure explicitly
dist: trusty
sudo: false

install:
  - pip install --upgrade setuptools
  - pip install "pip>=7.1.0"
  - pip install .
  - pip install -r test_requirements.txt
script:
  - cd tests
  - python -E run_testsuite.py
