include LICENSE
include TODO.txt
include MANIFEST.in
recursive-include tests *
recursive-include examples *
recursive-include docs *
recursive-include contrib *
global-exclude */.svn/*
global-exclude */.idea/*
global-exclude *.class
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.coverage
global-exclude nosetests.xml
